<!DOCTYPE html>
<html>
	{% load staticfiles %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js",></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<script src="{% static 'javascript/hamburger.js' %}"></script>
		<script src="{% static 'javascript/open_book_ajax.js' %}"></script>
        <script src="{% static 'javascript/date_diary.js' %}"></script>
{% comment %}
	../static/css/general.css
	../static/javascript/hamburger.js
	../static/images/odap2.png
{% endcomment %}
<head>
<title>Logbook</title>
</head>
<body>


	<ul class="topnav">
			<li><a id="logo" href="{% url 'logbook' %}" class="navbar-brand"><img id="logoimg" src="{% static 'images/odap-new.jpeg' %}" width="60" height="60" alt="" class="d-inline-block align-top"/>
          		<p class="right b">Open Door Accommodation Project</p></a></li>
    			<button class="hamburger">&#9776;</button>
    			<button class="cross">&#735;</button>
    	</ul>

    	<div class="menu">
            <ul>
                <a href="{% url 'logbook' %}"><li>Log</li></a>
                <a class="accordian"><li>Add</li></a>
                <div id="accordian" class="panel">
                    <a href="{% url 'log_form' %}"><li>Add Log</li></a>
                    <a href="{% url 'incident_form' %}"><li>Add Incident report</li></a>
                    <a href="{% url 'risk_form' %}"><li>Add Risk assessment</li></a>
                    <a href="{% url 'referral_form' %}"><li>Add Referral</li></a>
                    <a href="{% url 'service_user_form' %}"><li>Add Service User</li></a>
                    <a href="{% url 'diary_entry_form' %}"><li>Add Diary Entry</li></a>
                    <a href="{% url 'vulnerable_young_adult_concerns_form' %}"><li>Add Vulnerable Young Adult Concerns Form</li></a>
                    <a href="{% url 'child_protection_concern_form' %}"><li>Add Child Protection Concern Form</li></a>
                    <a href="{% url 'neighbour_complaint_form' %}"><li>Add Neighbour Complaint</li></a>
                    <a href="{% url 'social_work_form' %}"><li>Add Social Work Form</li></a>
                </div>
                <a href="{% url 'service_users_list' %}"><li>All Service Users</li></a>
                <a href="{% url 'referrals_list' %}"><li>All Pending Referrals</li></a>
                <a href="{% url 'diary' %}"><li>Diary</li></a>
                <a href="{% url 'graphs' %}"><li>Statistics</li></a>
                {% if user.is_staff %}
                <a href="{% url 'admin:index' %}"><li>Admin</li></a>
                {% endif %}
                <a href="{% url 'logout' %}"><li>Logout</li></a>
            </ul>
    	</div>
    	{% block body_block %}
    	{% endblock %}

    <script>
        var acc = document.getElementsByClassName("accordian");
        var i;

        for (i=0;i<acc.length;i++){
            acc[i].addEventListener("click",function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if(panel.style.display ==="block") {
                panel.style.display = "none";
            }else{
                panel.style.display="block";
            }
        });
        }
    </script>
</body>
</html>
