{% extends 'main/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Logbook
{% endblock %}
{% load widget_tweaks %}

{% block body_block %}

       <form id="log_form" method="post" action=""
              enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form -->

            <div class="modal-header"><h4><b>Add Child Protection Concern Form</b></h4></div>
            <div class="modal-body">
                {% for field in child_protection_concern_form %}
                <div class="in_app_form {% if field.errors %} has-error{% endif %}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% render_field field class="form-control" %}
                    {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

            <!-- Provide a button to click to submit the form. -->
             <div class="modal-footer">
                <input type="submit" name="submit" value="Submit" id="about-btn" />   
            </div>
    </form>
{% endblock %}