{% if events %}
	{% for event in events %}
	<div class="panel-group">
        <div class="panel panel-default">
            <div id="centre" class="panel-heading">
               <p>
					Appointment Date: {{ event.appointment_date }}<br>
					Details: {{ event.details }}<br>
					{% if event.service_user %} Service User: {{ event.service_user }}<br> {% endif %}
					Staff User: {{ event.staff_user }}
				</p> 
            </div>
        </div>
    </div>
    <br>
	{% endfor %}
{% else %}
	No events
{% endif %}