{% extends 'main/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Logbook
{% endblock %}

{% block body_block %}
<h2>Today is <span id=today></span>.</h2>
<hr>
<table ID="calendarTable" BORDER=1 ALIGN="center" width="85%" height="50%">
<tr>
    <th ID="tableHeader" COLSPAN=7></th>
</tr>
<tr><th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th>
<th>Thu</th><th>Fri</th><th>Sat</th></tr>
<tbody ID="tableBody"></tbody>
<tr>
    <td COLSPAN=7 align="center">
    <p>
    <form NAME="dateChooser">
        <select id="month_picker" NAME="chooseMonth">
            <option SELECTED>January<option>February
            <option>March<option>April<option>May
            <option>June<option>July<option>August
            <option>September<option>October
            <option>November<option>December
    </select>
    <select id="year_picker" NAME="chooseYear">
    </select>
    </form>
    </p></td>
</tr>
</table>
<hr>
<h2>UPCOMING EVENTS:</h2>
<div id="event_div" class="container-fluid"></div>
{% comment %}
<table ID="eventTable" BORDER=1 ALIGN="center">
<tr>
	<th>Event Date</th><th>Event Time</th><th>Young Person involved</th><th>Event Location</th><th>Event Details</th><th>Event created by</th>
</tr>
<tr>
	<td>The date of the event</td><td>Time of the Event</td>
	<td>The name of the young person the event is for</td>
	<td>Address of the event</td><td>Any additional details</td>
	<td>Name of staff member who added event</td>
</tr>
<tbody ID = "tableBody"></tbody>
{% endcomment %}
{% endblock %}
