{% extends 'main/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Graphs
{% endblock %}

{% block body_block %}
	{% if no_service_users %}
		<h3 style="text-align: center">There are currently no registered service users.</h3>
	{% else %}
		<form id="year_form" method="post" action=""
				  enctype="multipart/form-data">

				{% csrf_token %}
				Choose a Year:
				{{ year_form.as_p }}<br>

		<input type="Submit" name="Submit" value="Submit" />
		</form>

			<img src="{% static graph %}">
	{% endif %}
{% endblock %}
				
