<!DOCTYPE html>
<html>

{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
      integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
{% comment %}
../static/css/general.css
../static/images/odap2.png
{% endcomment %}

<head>
    <title>

        ODAP

    </title>
</head>
<body>


<ul class="topnav">
    <li><a id="logo" href="" class="navbar-brand"><img id="logoimg" src="{% static 'images/odap-new.jpeg' %}" width="60"
                                                       height="60" alt="" class="d-inline-block align-top"/>
        <p class="right b">Open Door Accommodation Project</p></a></li>


</ul>


<div class="center">
    <div class="main container text-center"><br/>
        <h1 class="login"><strong>Welcome to OpenBook</strong></h1><br/>

        <!-- login form-->

        <form method="POST" action="" role="form">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input id="username" type="text" placeholder="Username" name="username" class="form-control"/>
            </div>
            <br/>
            <div class="form-group">
                <label for="password">Password:</label>
                <input id="password" type="password" placeholder="Password" name="password" class="form-control"/>
            </div>
            <br/>
            <button type="submit" class="btn btn-success" value="Login">Log In</button>
        </form>
        <br/>

        {% if invalid %}<p>Invalid login details</p>{%endif%}
        <p><a href="{% url 'password_reset' %}">Reset password</a></p>

    </div>
</div>


</body>
</html>
