<!DOCTYPE html>
<html>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="../static/css/general.css">

<head>
	<title>
		
	  ODAP 
		
	</title>
</head>
<body>

	
		<ul class="topnav">
			<li><a id="logo" href="" class="navbar-brand"><img id="logoimg" src="../static/images/odap2.png" width="50" height="50" alt="" class="d-inline-block align-top"/>
          		<p class="right">Open Door Accommodation Project</p></a></li>
			 <!--{% if user.is_authenticated %}
			{% else %}-->
      			<li class="right b"><a href="/login">LOGIN</a></li>
    			<!--{% endif %} -->
    		</ul>
  	
	
		<!--{% block body_block %}
		{% endblock %}-->
		
	
</body>
</html>
