<div class="panel-body">
    {% if incident %}
        <h4>Incident Report: {{ incident.title }}</h4>
        <p>Date: {{ incident.incident_date }} {{ incident.incident_time }}<br>
            Location: {{ incident.location }}<br>
            Brief description: {{ incident.brief_description }}<br>
            Witnesses: {{ incident.witness }}<br>
            Cause: {{ incident.cause }}<br>
            Description: {{ incident.description }}<br>
            Action taken: {{ incident.action_taken }}<br>
            Comments on action taken: {{ incident.comments_action_taken }}<br>
            Proposed action: {{ incident.brief_proposed_action }}<br>
            Comments on proposed action: {{ incident.comments_action_required }}<br>
            Police deails: {{ incident.police_details }}<br>
            Medical assistance: {{ incident.medical_assistance_details }}<br>
            Debriefing meeting date: {{ incident.debriefing_meeting_date }}<br>

        </p>
    {% endif %}
    {% if risk %}
        <h4>Risk Assessment:</h4>
        <p>
            Date assessed: {{risk.date_assessed}}<br>
            Date reviewed: {{risk.review_date}}<br>
            Activity: {{ risk.activity }}<br>
            Hazards: {{ risk.hazards }}<br>
            Existing control: {{ risk.existing_control }}<br>
            Additional control: {{ risk.additional_control }}<br>
            <b>Initial risk: {{ risk.get_initial_risk_display }}</b><br>
            <b>Redisual risk: {{ risk.get_residual_risk_display }}</b><br>
            {% if risk.assessed_service_users.all %}
                Service users involved:
                {% for i in risk.assessed_service_users.all %}{{ i }} {% endfor %}<br>
            {% endif %}
            {% if risk.staff_users.all %}
                Staff involved:
                {% for i in risk.staff_users.all %}{{ i }} {% endfor %}<br>
            {% endif %}


        </p>
    {% endif %}
    {% if neighbour %}
        <h4>Neighbour Complaints</h4>
        <p>
            Date: {{neighbour.complaint_date}} {{neighbour.complaint_time}}<br>
            Complainant Name: {{neighbour.complainant_name}}<br>
            Complainant Address: {{neighbour.complainant_address}}<br>
            Complainant No.: {{neighbour.complainant_no}}<br>
            Staff User: {{neighbour.staff_user}}<br>
            Complaint Type: {{neighbour.complaint_type}}<br>
            Complaint recieved by: {{neighbour.recieved_by}}<br>
            People involved: {{neighbour.people_invloved}}<br>
            Complaint Address: {{neighbour.complaint_address}}<br>
            Complaint Telephone No.: {{neighbour.complaint_no}}<br>
            Complainant Details: {{neighbour.complaint_details}}<br>
            Managers Response: {{neighbour.managers_response}}<br>
            Feedback: {{neighbour.feedback}}<br>
        </p>
    {% endif %}
    {% if social %}
        <h4>Social Work</h4>
        <p>
            Staff User: {{social.staff_user}}<br>
            Office Contacted: {{social.office_contacted}}<br>
            Social Worker: {{social.social_worker}}<br>
            Concern Summary: {{social.concern_summary}}<br>
            Response: {{social.response}}<br>
        </p>
    {% endif %}
    {% if child %}
        <h4>Child Protection Concern</h4>
        <p>
            Concern Raiser name: {{child.raiser_name}}<br>
            Concern Raiser address: {{child.raiser_address}}<br>
            Phone No.: {{child.phone_number}}<br>
            Child Name: {{child.child_name}}<br>
            Date of Birth: {{child.date_of_birth}}<br>
            Mothers Name: {{child.mothers_name}}<br>
            Date of Birth (Mother): {{child.mothers_date_of_birth}}<br>
            Mothers Address: {{child.mothers_address}}<br>
            Fathers Name: {{child.fathers_name}}<br>
            Date of Birth (Father): {{child.fathers_date_of_birth}}<br>
            Fathers Address: {{child.fathers_address}}<br>
            Home Address: {{child.home_address}}<br>
            Additional Dependents: {{child.additional_dependents}}<br>
            Other Professionals: {{child.other_professionals}}<br>
            Other Professionals Informed: {{child.other_professionals_informed}}<br>
            Concern Recorder: {{child.concern_recorder}}<br>
            Date of Concern: {{child.date_of_concern}}<br>
            Concern: {{child.concern}}<br>
            Action Taken: {{child.action_taken}}<br>
            Managers Name: {{child.managers_name}}<br>
            Informed Date: {{child.informed_date}}<br>
            Comments: {{child.comments}}<br>
            Action Required: {{child.action_required}}<br>
            Outcome: {{child.outcome}}
        </p>
    {% endif %}
    {% if adult %}
        <h4>Vulnerable Young Adult Concerns</h4>
        <p>
            Support Worker: {{adult.support_worker}}<br>
            Tenants Name: {{adult.tenants_name}}<br>
            Address: {{adult.address}}<br>
            Date of Birth: {{adult.date_of_birth}}<br>
            Concerns: {{adult.concerns}}<br>
            Managers Name: {{adult.managers_name}}<br>
            Informed Date: {{adult.informed_date}}<br>
            Comments: {{adult.comments}}<br>
        </p>
    {% endif %}
</div>