{% extends 'main/base.html' %}
{% load staticfiles %}
{% block title_block %}
Logbook
{% endblock %}

{% block body_block %}

<div class="panel-group">
    <form id="search_bar" action="{% url 'logbook' %}" method="post">
        {% csrf_token %}
        <input type="text" name="search_text" placeholder="Search for log entries">
        from date
        <input type="date" name="search_date" placeholder="Select log entry date">
        sorted by
        <select name="sort_by">
            <option value="-timestamp">date (newest first)</option>
            <option value="timestamp">date (oldest first)</option>
        </select>
        priority
        <select name="search_priority">
            <option value="">any</option>
            <option value="red">red</option>
            <option value="yellow">amber</option>
            <option value="green">green</option>
        </select>
        service
        <select name="search_service">
            <option value="">any</option>
            {% for s in services %}
            <option value="{{s}}">{{ s }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Search">
    </form>
</div>

{% for key, values in logs.items %}
{% if values %}
<div class="container-fluid">
    <br/>
    <h1>{{ key }}</h1>
    <br/>
    {% for value in values %}
    <div class="panel-group">
        <div class="panel panel-default">
            <div id="centre" class="panel-heading">
                <h4 class="panel-title">
                    {{ value.log }}
                    <div style="height: 20px; width: 20px; background-color:{{ value.log.priority }}; border-radius:50%; border-width: 1px; border-style: solid; float: right"></div>
                </h4>
                <br>
                <p>
                    {% if value.log.action_required %}
                        <b><style="color:red;"></style>Action required</style></b><br>
                    {% endif %}
                    {{value.log.timestamp}}<br>
                    {% if value.log.service %} {{ value.log.service }} <br> {% endif %}
                    {% if value.log.service_users.all %}
                        <b></b>Service users involved:</b>
                        {% for i in value.log.service_users.all %} <a href="/main/service_user/{{i.id}}">{{ i }}</a>
                        {% endfor %}<br>
                    {% endif %}
                    <b>Description:</b>
                    {{value.log.description}}<br>
                    {% if value.log.previous_log_entry %}
                        <b>Linked to:</b>
                        {{value.log.previous_log_entry}} made on {{ value.log.timestamp }}<br>
                    {% endif %}
                    <b>Made by:</b>
                    {{value.log.assigned_user}}
                </p>
                {% if value.forms %}
                    <a id="show_additional_{{ value.log.id }}"  class="get_log_details"  href="#log_{{ value.log.id }}" data-id="{{ value.log.id }}">Show Additional Details</a>
                    <a hidden id="hide_additional_{{ value.log.id }}"  class="get_log_details"  href="#log_{{ value.log.id }}" data-id="{{ value.log.id }}">Hide Additional Details</a>
                {% endif %}
            </div>
            <div id="log_{{ value.log.id }}"></div>
        </div>
    </div>
    <br>
    {% endfor %}
</div>
{% endif %}
{% endfor %}

{% if not logs %} <p> Search returned no results </p> {% endif %}

{% endblock %}
				
