{% extends 'main/base.html' %}
{% load staticfiles %}
{% block title_block %}
Service User
{% endblock %}

{% block body_block %}
<br/>
<h1 class="service">{{ referral }}</h1>


<div class="container-fluid">
    <br>
    {% if referral.is_banned %}
    <a href="/main/service_user_form/{{referral.id}}" class="btn btn-danger">Accept referral</a>
    <p>This person is banned</p>
    {% else %}
    <a href="/main/service_user_form/{{referral.id}}" class="btn btn-primary">Accept referral</a>
    {% endif %}
    <div class="row">
        <div class="col-md-3">
            <h4>National Insurance Number:</h4>
            <p>{{ referral.nin }}</p>
            <h4>Gender:</h4>
            <p>{{ referral.get_gender_display}}</p>
            <h4>Emergency Contact:</h4>
            <p> {{ referral.contact_name}}, phone {{ referral.contact_phone }}</p>
            <h4>Referral Date:</h4>
            <p> {{ referral.referral_date }}</p>
            <h4>Doctor:</h4>
            <p> {{ referral.doctor_name }}, phone {{ referral.doctor_phone }}</p>
            <h4>Surgery Address:</h4>
            <p>{{ referral.surgery_address}}</p>
        </div>

        <div class="col-md-3">
            <h4>Date of Birth:</h4>
            <p> {{ referral.dob }}</p>
            <h4>Phone Number:</h4>
            <p> {{ referral.phone }}</p>
            <h4>Email address:</h4>
            <h4>Referred By:</h4>
            <p> {{ referral.referred_by }}</p>
            <h4>Reason for referral:</h4>
            <p> {{ referral.reason }}</p>


        </div>

    </div>

    <div class="row">
        <div class="col-md-5">
            {% if referral.notes %} <h4>Notes:</h4>
            <p> {{ referral.notes }}</p> {% endif %}
        </div>
    </div>
</div>
{% endblock %}

