{% extends 'main/base.html' %}
{% load staticfiles %}
{% block title_block %}
Referrals
{% endblock %}

{% block body_block %}

<div class="panel-group">
    <form id="search_bar" action="{% url 'referrals_list' %}" method="post">
        {% csrf_token %}
        <input type="text" name="search_text" placeholder="Search for referrals">
        sorted by
        <select name="sort_by">
            <option value="last_name">Last name (A-Z)</option>
            <option value="-last_name">Last name (Z-A)</option>
            <option value="first_name">First name (A-Z)</option>
            <option value="-first_name">First name (Z-A)</option>
            <option value="-referral_date">Referral date (newest first)</option>
            <option value="referral_date">Referral date (oldest first)</option>
            <option value="-dob">Date of birth (youngest first)</option>
            <option value="dob">Date of birth (oldest first)</option>
        </select>
        <input type="submit" value="Search">
    </form>
</div>

<div class="container-fluid">
    <div class="panel-group">
        {% if referrals %}
        <table class="table">
            <thead>
            <tr>
                <th><h3>Name</h3></th>
                <th><h3>Date referred</h3></th>
                <th><h3>Date of birth</h3></th>
            </tr>
            </thead>
            <tbody>
            {% for ref in referrals %}
            <tr>
                <td><h4><a href="/main/referral/{{ref.id}}/">{{ref}}</a></h4></td>
                <td><h4>{{ref.referral_date}}</h4></td>
                <td><h4>{{ref.dob}}</h4></td>
                {% if ref.is_banned %}
                <td><a href="/main/service_user_form/{{ref.id}}" class="btn btn-danger">Accept referral</a><br>This person is banned</td>
                {% else %}
                <td><a href="/main/service_user_form/{{ref.id}}" class="btn btn-primary">Accept referral</a></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <br><p> No referrals to show </p>
        {% endif %}
    </div>
</div>

{% endblock %}
				