{% extends 'main/base.html' %}
{% load staticfiles %}
{% block title_block %}
Service Users
{% endblock %}

{% block body_block %}

<div class="panel-group">
    <form id="search_bar" action="{% url 'service_users_list' %}" method="post">
        {% csrf_token %}
        <input type="text" name="search_text" placeholder="Search for service users">
        sorted by
        <select name="sort_by">
            <option value="referral__last_name">Last name (A-Z)</option>
            <option value="-referral__last_name">Last name (Z-A)</option>
            <option value="referral__first_name">First name (A-Z)</option>
            <option value="-referral__first_name">First name (Z-A)</option>
            <option value="-referral__referral_date">Referral date (newest first)</option>
            <option value="referral__referral_date">Referral date (oldest first)</option>
            <option value="-date_accepted">Date accepted (newest first)</option>
            <option value="date_accepted">Date accepted (oldest first)</option>
            <option value="-referral__dob">Date of birth (youngest first)</option>
            <option value="referral__dob">Date of birth (oldest first)</option>
        </select>
        <input type="submit" value="Search">
    </form>
</div>

<div class="container-fluid">
    <div class="panel-group">
        <table class="table">
            <thead>
            <tr>
                <th><h3>Name</h3></th>
                <th><h3>Date referred</h3></th>
                <th><h3>Date accepted</h3></th>
                <th><h3>Date of birth</h3></th>
            </tr>
            </thead>
            <tbody>
            {% for su in service_users %}
            <tr>
                <td><h4><a href="/main/service_user/{{su.id}}">{{su}}</a></h4></td>
                <td><h4>{{su.referral.referral_date}}</h4></td>
                <td><h4>{{su.date_accepted}}</h4></td>
                <td><h4>{{su.referral.dob}}</h4></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
				
