{% extends 'main/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Service User
{% endblock %}

{% block body_block %}
	<br />
		<h1 class="service">{{ service_user }}</h1>
		
	<div class="container-fluid">
		<h4>
			{% for service in services.all %}
				{{ service.service }}
			{% endfor %}
		</h4>
		<div class="row">
  			<div class="col-md-3">
				<h4>National Insurance Number:</h4><p>{{ service_user.referral.nin }}</p>
				<h4>Gender:</h4> <p>{{ service_user.referral.get_gender_display}}</p>
				<h4>Emergency Contact:</h4><p> {{ service_user.referral.contact_name}}, phone {{ service_user.referral.contact_phone }}</p>
				<h4>Referral Date:</h4> <p> {{ service_user.referral.referral_date }}</p>
				<h4>Date Accepted:</h4> <p> {{service_user.userusesservice_set.all.0.start_date }}</p>
				<h4>Doctor:</h4><p> {{ service_user.referral.doctor_name }}, phone {{ service_user.referral.doctor_phone }}</p>
				<h4>Surgery Address:</h4> <p>{{ service_user.referral.surgery_address}}</p>
			</div>
			
  			<div class="col-md-3">
				<h4>Date of Birth:</h4><p> {{service_user.referral.dob }}</p>
				<h4>Phone Number:</h4><p> {{service_user.referral.phone }}</p>
				<h4>Referred By:</h4><p> {{service_user.referral.referred_by }}</p>
				<h4>Reason for referral:</h4><p> {{service_user.referral.reason }}</p>
				{% if service_user.referral.is_banned %}<h4 style="color:red">This person is banned</h4>{% endif %}

			</div>
			<div class="col-md-3">
				<h4>Health Issues:</h4> <p> {% if service_user.health_issues %}{{ service_user.health_issues }} {% else %} N/A {% endif %} </p>
				<h4>Drug Issues: </h4><p> {% if service_user.drug_issues %}{{ service_user.drug_issues }} {% else %} N/A {% endif %} </p>
				<h4>Emotional Issues:</h4><p> {% if service_user.emotional_issues %}{{ service_user.emotional_issues }} {% else %} N/A {% endif %} </p>
				{% if service_user.is_pregnant %}<h4>This person is pregnant</h4>{% endif %}
			</div>
			<div class="col-md-3">
				<h4>Mental Issues:</h4> <p> {% if service_user.mental_issues %}{{ service_user.mental_issues }} {% else %} N/A {% endif %} </p>
				<h4>Alcohol Issues:</h4> <p> {% if service_user.alcohol_issues %}{{ service_user.alcohol_issues }} {% else %} N/A {% endif %}</p>
				<h4>Criminal Background:</h4> <p> {% if service_user.criminal_background %}{{ service_user.criminal_background }} {% else %} N/A {% endif %} </p>
			</div>		
		</div>
		
		<div class="row">
		<div class="col-md-5">
		 	{% if service_user.referral.notes %} <h4>Notes:</h4><p> {{ service_user.referral.notes }}</p> {% endif %}
		</div>
		</div>
		<h4>Logs:</h4>
		<div class="scrollable">
			<div class="container-fluid">
					{% for value in logs %}
				<div class="panel-group">
						<div class="panel panel-default">
							<div id="centre" class="panel-heading">
								<h4 class="panel-title">
									{{ value.log }}
									<div style="height: 20px; width: 20px; background-color:{{ value.log.priority }}; border-radius:50%; border-width: 1px; border-style: solid; float: right"></div>
								</h4>
								<br>
								<p>
									{% if value.log.action_required %}
										<b>Action required</b><br>
									{% endif %}
									{{value.log.timestamp}}<br>
									{% if value.log.service_users.all %}
										Service users involved:
										{% for i in value.log.service_users.all %} <a href = "/main/service_user/{{i.id}}">{{ i }}</a>{% endfor %}<br>
									{% endif %}
									Description:
									{{value.log.description}}<br>
									{% if value.log.previous_log_entry %}
        								Linked to:
										{{value.log.previous_log_entry}} made on {{ value.log.timestamp }}<br>
    								{% endif %}
									Made by:
									{{value.log.assigned_user}}
								</p>
								{% if value.forms %}
                    				<a id="show_additional_{{ value.log.id }}"  class="get_log_details"  href="#log_{{ value.log.id }}" data-id="{{ value.log.id }}">Show Additional Details</a>
                    				<a hidden id="hide_additional_{{ value.log.id }}"  class="get_log_details"  href="#log_{{ value.log.id }}" data-id="{{ value.log.id }}">Hide Additional Details</a>
                				{% endif %}
							</div>
							<div id="log_{{ value.log.id }}" ></div>
						</div>
				</div>
				{% endfor %}
		</div>	
			
 			
			
		
	</div>
{% endblock %}


