.in_app_form{
    width:70%;
    margin:0px auto;
    margin-bottom:15px;
}
#logoimg{position:static;float:left;}
/*.accordian:before{
    content:'\002B';
    color:#777;
    font-weight:bold;
    float: right;
    font-size:3em;
    text-align: center;
    position:static;
    left:50%;
    margin-right:-50%;
}
.active:before{content:"\2212"}*/
#accordian{display:none;}

ul.topnav {
    list-style-type: none;
    width:100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    position:static;

}
div.form-group{width:20%;margin:0 auto;}

ul.topnav li {float: left;}
ul.topnav li.b:hover{background:#943126;}
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    height:90px;
    text-decoration: none;

}

#justify {
    width: 100%;

}

#justify h4 {
    margin: 0 auto;
    list-style: disc outside none;
    text-align: justify;
    
}

#justify h4:after {
  content: "";
  display: inline-block;
  width: 100%;
}
#justify a{text-decoration: none;}
.container-fluid{width:100%;}
h1.login{padding:50px;}
h1{color:#943126;}
ul.topnav li.right {float: right;}
h1.service{padding:0px 10px;color:#943126;}
h1{padding:0px 12.5%;color:#943126;}
h4{color:#943126;}
.right{float:right; font-size: large;}
p.right{font-size: large; position: static;float:right; padding:20px;}
p{padding:0px 10px;}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:15px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.row{padding:5px;}
.scrollable {
    width:90%;
    height: 300px; /* or any value */
    overflow-y: auto;
    padding:0px 10px;
}
.cross{
  background:none;
  position:absolute;
  right:10px;
  top:30px;
  padding:5px 5px 5px 5px;
  color:#999;
  border:0;
  font-size:5em;
  line-height:45px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;text-align:center;}
.menu li {display: block; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;cursor: pointer;text-align: center;color:black;}
.menu li:hover{display: block; background:#943126; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;color: white;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li:hover a{color: white; text-decoration:none;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

.panel-group{
    word-wrap: break-word;
    width:75%;
    margin:0 auto;
}
